body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  padding: 0 50px;
}

input {
  padding: 7px 15px;
  font-size: 14px;
}

.news {
  max-height: 240px;
  overflow-y: auto;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style-type: none;

  li {
    a {
      display: block;
      padding: 10px 20px;
      color: #252525;
      transition: all 0.15s;

      &:hover {
        background-color: #252525;
        color: #fff;
      }
    }
  }
}

.auth {
  padding-top: 20px;

  input {
    margin-right: 10px;
  }
}

nav {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
